## API Key

In [1]:
api_key = '...'

## Imports

In [2]:
import os
import sys
import pandas as pd
import numpy as np
import json
import time
import datetime
import requests
import pickle

## Get Articles through API

In [3]:
def get_all_articles(articles):
    years_num = list(np.arange(1981,2019))
    years = []
    
    for year in years_num:
        years.append(str(year))
    
    months_num = list(np.arange(1,13))
    months = []
    
    for month in months_num:
        months.append(str(month))
    
    for year in years:
        articles[year] = {}
        for month in months:
            if year == '2018' and month == '3':
                break
            articles[year][month] = {}
            print('Getting {}/{} articles'.format(year,month))
            url = 'https://api.nytimes.com/svc/archive/v1/{}/{}.json'.format(year,month)
            params = {'api-key': api_key}
            response = requests.get(url, params=params)

            while response.status_code != 200:
                print('trying again...')
                time.sleep(3)
                response = requests.get(url, params=params)
                print('status code: {}'.format(response.status_code))
        
            articlesjson = json.loads(response.text)
            docs = articlesjson['response']['docs']

            articles[year][month] = len(docs)
        
        print('Dumping year {}.'.format(year))
        
        with open('archive_exports/archive_export.json', 'w') as fp:
            json.dump(articles, fp)

    print('Exporting articles 1981_1-2018_2 to json')
    with open('archive_exports/archive_export.json', 'w') as fp:
        json.dump(articles, fp)

articles = {}
get_all_articles(articles)

## Get Counts per year

In [4]:
with open('archive_exports/total_articles_dict.pickle','wb') as file:
    pickle.dump(articles,file)

In [5]:
# with open('archive_exports/total_articles_dict.pickle','rb') as file:
#     articles = pickle.load(file)

In [6]:
df = pd.DataFrame(articles)

In [7]:
# Transpose to get desired layout
df = df.transpose()

In [8]:
# Get Totals Column
df['total'] = df[list(df.columns)].sum(axis=1)

In [9]:
df

,1,10,11,12,2,3,4,5,6,7,8,9,total
1981,7204.0,8965.0,8539.0,7770.0,6266.0,7094.0,7136.0,8031.0,7722.0,7304.0,7476.0,7512.0,91019.0
1982,8286.0,9033.0,8122.0,7325.0,7672.0,7239.0,7896.0,6702.0,7012.0,7552.0,7934.0,7154.0,91927.0
1983,7537.0,9136.0,8548.0,7476.0,7499.0,7994.0,9369.0,8573.0,7160.0,8733.0,8018.0,7160.0,97203.0
1984,8371.0,9356.0,8686.0,7643.0,8457.0,8246.0,9305.0,9168.0,7512.0,9075.0,8883.0,7571.0,102273.0
1985,8004.0,9397.0,8917.0,8409.0,7698.0,8241.0,8561.0,8992.0,7891.0,8304.0,8561.0,7953.0,100928.0
1986,8702.0,9751.0,9181.0,7949.0,8347.0,8556.0,9518.0,9381.0,8044.0,8670.0,8973.0,7987.0,105059.0
1987,8674.0,8940.0,9352.0,7784.0,8175.0,8323.0,9050.0,9364.0,7503.0,8051.0,8493.0,7806.0,101515.0
1988,8386.0,9086.0,9007.0,7401.0,8335.0,8381.0,7980.0,9092.0,7476.0,8409.0,8582.0,7814.0,99949.0
1989,8243.0,8826.0,8582.0,7546.0,7785.0,8469.0,9174.0,8792.0,7312.0,8060.0,8042.0,6999.0,97830.0
1990,8378.0,8158.0,7499.0,6603.0,8037.0,8392.0,9151.0,8422.0,6589.0,7653.0,7405.0,6829.0,93116.0
1991,6645.0,6206.0,6430.0,6622.0,7108.0,6822.0,7445.0,6758.0,6880.0,7042.0,5963.0,6859.0,80780.0
1992,7170.0,6834.0,6709.0,6197.0,5640.0,7240.0,6748.0,7552.0,6685.0,6806.0,6849.0,6089.0,80519.0
1993,6835.0,7621.0,6727.0,5950.0,6214.0,5636.0,6345.0,6696.0,6136.0,6366.0,6642.0,5643.0,76811.0
1994,6369.0,6733.0,6333.0,5577.0,5553.0,6056.0,6187.0,6482.0,5606.0,6331.0,6115.0,5655.0,72997.0
1995,6348.0,8557.0,6351.0,6582.0,5156.0,6103.0,6922.0,6515.0,6038.0,6928.0,6415.0,5791.0,77706.0
1996,6534.0,6298.0,5839.0,5918.0,6352.0,6920.0,6377.0,6656.0,6800.0,6720.0,5648.0,6017.0,76079.0
1997,6895.0,7698.0,7454.0,7319.0,6596.0,7289.0,6963.0,6955.0,7064.0,6711.0,6830.0,7111.0,84885.0
1998,7384.0,7750.0,7894.0,7402.0,6784.0,7696.0,7173.0,7614.0,7245.0,7096.0,7268.0,7353.0,88659.0
1999,8062.0,8078.0,7467.0,7612.0,6980.0,7790.0,7373.0,7589.0,8050.0,7333.0,7282.0,7130.0,90746.0
2000,7904.0,8638.0,7939.0,7934.0,7378.0,7886.0,7676.0,7744.0,7643.0,7614.0,7531.0,8093.0,93980.0
2001,7736.0,8979.0,8496.0,8448.0,7087.0,7629.0,7530.0,8267.0,7899.0,7889.0,7789.0,8297.0,96046.0
2002,8155.0,8554.0,8125.0,8162.0,7611.0,8668.0,8052.0,8261.0,8158.0,7543.0,7434.0,8093.0,96816.0
2003,8068.0,7888.0,7947.0,7659.0,7460.0,8435.0,8088.0,7977.0,7987.0,7426.0,7579.0,7492.0,94006.0
2004,7841.0,8365.0,7360.0,7500.0,7738.0,7833.0,7453.0,7854.0,7403.0,7275.0,7501.0,7279.0,91402.0
2005,7762.0,7868.0,7510.0,7518.0,7080.0,7737.0,7496.0,7861.0,7325.0,7519.0,7054.0,7487.0,90217.0
2006,7724.0,12245.0,11915.0,11525.0,7599.0,9482.0,9288.0,11319.0,11693.0,11141.0,11293.0,11720.0,126944.0
2007,12071.0,12004.0,11473.0,11602.0,10898.0,12429.0,11458.0,12125.0,11871.0,11973.0,11176.0,11532.0,140612.0
2008,12299.0,12989.0,12174.0,11721.0,11691.0,12393.0,12012.0,11887.0,11821.0,11595.0,12144.0,12242.0,144968.0
2009,12212.0,13237.0,12413.0,12719.0,11771.0,14199.0,12498.0,12642.0,12021.0,11775.0,11745.0,12686.0,149918.0
2010,12888.0,12430.0,11291.0,10166.0,11697.0,12992.0,12241.0,12498.0,12164.0,11296.0,11558.0,12128.0,143349.0
2011,11445.0,15141.0,14958.0,15017.0,10460.0,12043.0,11137.0,11360.0,11315.0,10769.0,12374.0,15217.0,151236.0
2012,16734.0,9239.0,8524.0,7968.0,13303.0,12074.0,11345.0,14206.0,10955.0,10803.0,11192.0,10334.0,136677.0
2013,8496.0,9038.0,8527.0,8512.0,8103.0,10307.0,10248.0,9317.0,8945.0,8017.0,7890.0,8757.0,106157.0
2014,8922.0,9224.0,8357.0,8048.0,8497.0,8970.0,8502.0,8815.0,9058.0,8237.0,8148.0,8932.0,103710.0
2015,8252.0,8499.0,7777.0,7582.0,7561.0,8397.0,7768.0,7973.0,7888.0,7893.0,7435.0,8273.0,95298.0
2016,7644.0,5792.0,5418.0,5073.0,7297.0,7502.0,6699.0,6802.0,6640.0,6120.0,5268.0,5904.0,76159.0
2017,5205.0,5248.0,4895.0,2791.0,5024.0,5650.0,4979.0,5337.0,5356.0,4828.0,4935.0,5094.0,59342.0
2018,4808.0,NaN,NaN,NaN,4577.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9385.0

In [10]:
with open('archive_exports/total_articles_per_month.pickle','wb') as file:
    pickle.dump(df,file)

In [11]:
df_totals = df[['total']].copy()

In [12]:
df_totals

         total
1981   91019.0
1982   91927.0
1983   97203.0
1984  102273.0
1985  100928.0
1986  105059.0
1987  101515.0
1988   99949.0
1989   97830.0
1990   93116.0
1991   80780.0
1992   80519.0
1993   76811.0
1994   72997.0
1995   77706.0
1996   76079.0
1997   84885.0
1998   88659.0
1999   90746.0
2000   93980.0
2001   96046.0
2002   96816.0
2003   94006.0
2004   91402.0
2005   90217.0
2006  126944.0
2007  140612.0
2008  144968.0
2009  149918.0
2010  143349.0
2011  151236.0
2012  136677.0
2013  106157.0
2014  103710.0
2015   95298.0
2016   76159.0
2017   59342.0
2018    9385.0

In [13]:
with open('archive_exports/total_articles_per_year.pickle','wb') as file:
    pickle.dump(df_totals,file)

In [14]:
df_totals.reset_index(inplace=True)

In [15]:
df_totals.rename(columns={'index':'pub_year'},inplace=True)

In [16]:
df_totals.head()

  pub_year     total
0     1981   91019.0
1     1982   91927.0
2     1983   97203.0
3     1984  102273.0
4     1985  100928.0

## Combine with Mental Health Article Counts

In [17]:
with open('pickled_files/raw_data.pickle', 'rb') as file:
    raw = pickle.load(file)

In [18]:
raw = pd.DataFrame(raw['pub_date'])

In [19]:
raw['pub_year'] = [a[:4] for a in raw['pub_date']]

In [20]:
raw.head()

                                                      pub_date pub_year
https://lens.blogs.nytimes.com/2017/06/21/handi...  2017-06-21     2017
https://lens.blogs.nytimes.com/2017/08/22/comba...  2017-08-22     2017
https://www.nytimes.com/2017/06/01/nyregion/bro...  2017-06-02     2017
https://www.nytimes.com/2017/06/01/world/canada...  2017-06-02     2017
https://www.nytimes.com/2017/06/02/learning/edi...  2017-06-02     2017

In [21]:
raw_counts = raw.groupby('pub_year',as_index=False).count()

In [22]:
raw_counts.rename(columns={'pub_date':'mental_health'},inplace=True)

In [23]:
mental_health_share = raw_counts.merge(df_totals,on=['pub_year'])

In [24]:
mental_health_share['share'] = mental_health_share['mental_health'] / mental_health_share['total']

In [25]:
mental_health_share['percentage'] = 100*mental_health_share['mental_health'] / mental_health_share['total']

In [26]:
mental_health_share.head()

  pub_year  mental_health     total     share  percentage
0     1981            742   91019.0  0.008152    0.815214
1     1982            705   91927.0  0.007669    0.766913
2     1983            570   97203.0  0.005864    0.586402
3     1984            553  102273.0  0.005407    0.540710
4     1985            547  100928.0  0.005420    0.541971

In [27]:
with open('archive_exports/mental_health_share_over_time.pickle','wb') as file:
    pickle.dump(mental_health_share,file)

In [28]:
mental_health_share.to_csv('archive_exports/mental_health_share_over_time.csv',sep=',',header=True,columns=mental_health_share.columns)